<header th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <div class="container">
	        <a class="navbar-brand" href="" th:href="@{/}">Графіки</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <ul class="navbar-nav mr-auto">
	                <li class="nav-item">
	                    <a href="" class="nav-link" th:href="@{/electricity}">Електроенергія</a>
	                </li>
	                <li class="nav-item">
	                    <a href="" class="nav-link" th:href="@{/gas}">Газ</a>
	                </li>
	                <li class="nav-item">
	                    <a href="" class="nav-link" th:href="@{/water}">Вода</a>
	                </li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	            	<li th:if="${admin}" class="nav-item">
	                    <a href="" class="nav-link" th:href="@{/auth/logout}" th:text="${admin.login}">Вийти</a>
	                </li>
	                <li th:if="!${admin}" class="nav-item">
	                    <a href="" class="nav-link" th:href="@{/auth/login}">Увійти</a>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
</header>